<div class="flex items-center justify-between w-full px-5 py-5 border-b border-b-gray-500">
    <h1 class="text-3xl font-[500] text-blue-700 text-center sm:text-left">
        X Microsite / {{ menu|default('Resource') }}
    </h1>
    <span class="text-gray-700 font-medium truncate">{{ greet }}</span>
</div>
